/* --- змінні --- */
:root {
    --primary-color-text: #2196F3;
    --main-color-text: #212121;
    --secondary-color-text: #757575;
    --logo-color-text: #000000;
    --footer-color-text: #FFFFFF;
    --main-color-bg: #FFFFFF;
    --secondary-color-bg: #F5F4FA;
    --footer-color-bg: #2F303A;
    --active-button: #188CE8;
    --card-border-color: #EEEEEE;
    --kontakty-footer: rgba(255, 255, 255, 0.6);
    --shadow-main-button: 0px 4px 4px rgba(0, 0, 0, 0.15);
    --shadow-card-solid: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    --shadow-filtr-button: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    --work-list: #EEEEEE;
    --line-header: #ECECEC;
    --overlay-color: rgba(47, 48, 58, 0.4);
    --border-client: #AFB1B8;
    --footer-socsolid-main: rgba(255, 255, 255, 0.1);
    --hero-bg: #C4C4C4;
    --hover-overlay-blue: rgba(33, 150, 243, 0.9);
    --shadow-portfolio-card: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    --transition-bezier: cubic-bezier(0.4, 0, 0.2, 1);
    --working-solid: rgba(47, 48, 58, 0.8);
    --backdrop-color: rgba(0, 0, 0, 0.2);
    --modal-bg-color: #FFFFFF;
    --time-250: 250ms;
    --border-btn: rgba(0, 0, 0, 0.1);
    --input-footer: rgba(255, 255, 255, 0.3);
    --input-modal: rgba(33, 33, 33, 0.2);
    --textarea-modal: rgba(117, 117, 117, 0.5);
}

/* --- глобальні скидання та задання налаштувань --- */
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-color-bg);
    color: var(--secondary-color-text);
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
}
p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
ul, ol { 
    margin: 0;
    padding-left: 0;
}
img {
    display: block;
    max-width: 100%;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.hero-button,
.filtr__button {
    font-family: inherit;
    cursor: pointer;
    border: transparent;
    border-radius: 4px;
}


/* ----------!!!стилі Шапки!!!---------- */
.header {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--line-header);
}
.header-spacebetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-nav {
    display: flex;
    align-items: center;
}

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--logo-color-text);
    margin-right: 93px;
}
.header-logo__color {
    color: var(--primary-color-text);
}

.header-menu {
    display: flex;
    align-items: center;
    gap: 50px;
}
.header-menu__item {
    display: block;
    position: relative; 
}
.header-menu__link {
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;

    transition-property: color;
    transition-duration: var(--time-250);
    transition-timing-function: var(--transition-bezier);
}
.header-menu__link {
    color: var(--main-color-text);
}
.header-menu__link:hover,
.header-menu__link:focus {
    color: var(--primary-color-text);
}
.header-menu__link--current {
    color: var(--primary-color-text);
}
.header-menu__link--current::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--primary-color-text);
    border-radius: 2px;
    bottom: -1px;
}

.header-contacts {
    display: flex;
    gap: 30px;
}
.header-contacts__link {
    display: flex;
    align-items: center;
    color: var(--secondary-color-text);
    fill: var(--secondary-color-text);
}
.header-contacts__link:hover,
.header-contacts__link:focus {
    color: var(--primary-color-text);
    fill: var(--primary-color-text);
}
.header-contacts__logo {
    fill: currentColor;
    margin-right: 10px;

    transition-property: fill;
    transition-duration: var(--time-250);
    transition-timing-function: var(--transition-bezier);
}


/* ----------!!!стилі головної Студія!!!---------- */

/* --- герой --- */
.hero-overlay {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image: 
    linear-gradient(to right, var(--overlay-color), var(--overlay-color)),
    url(../images/hero.jpg);
    background-color: var(--hero-bg);
    background-size: cover;
}
.hero-centr {
    max-width: 696px;
    margin: 0 auto;
    text-align: center;
    padding: 200px 15px;
}
.hero-title {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--footer-color-text);
    margin: 0px 0px 30px 0px;
}
.hero-button {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--primary-color-text);
    color: var(--footer-color-text);

    padding: 10px 32px;
    box-shadow: var(--shadow-main-button);

    transition-property: background-color;
    transition-duration: var(--time-250);
    transition-timing-function: var(--transition-bezier);
}
.hero-button:hover,
.hero-button:focus {
    background-color: var(--active-button);
}

/* --- загальні на всі секції --- */
.section-withoutname {
    padding-top: 94px;
}
.section {
    padding: 94px 0;
}
.section-color {
    background-color: var(--secondary-color-bg);
}
.section-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color-text);
    margin-bottom: 50px;
    margin-top: 0;
    padding: 0;
}
.position-list {
    display: flex;
    gap: 30px;
}

/* --- секція 1 --- */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    padding: 0;
    margin: -1px;
    clip-path: inset(50%);
}
.advantages-box {
    display: flex;
    background-color: var(--secondary-color-bg);
    width: 270px;
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
}
.advantages-title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color-text);
    padding: 0;
    margin-top: 0;
    margin-bottom: 10px;
}
.advantages-paragraph {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-color-text);
    max-width: 270px;
}

/* --- секція 2 --- */
.product-item {
    position: relative;
}
.thumb-position {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: var(--working-solid);
}
.thumb-name {
    position: absolute;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color-bg);
}

/* --- секція 3 --- */
.socialnet-card {
    background-color: var(--main-color-bg);
    border-radius: 0 0 4px 4px;
    box-shadow: var(--shadow-card-solid);
}
.socialnet-content {
    padding: 30px 0;
}
.socialnet-name {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color-text);
    margin-bottom: 10px;
}
.socialnet-subname {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-color-text);
    margin-bottom: 16px;
}

.socialnet__list {
    display: flex;
    gap: 10px;
    justify-content: center;
}
.socialnet__link {
    display: flex;
    width: 44px;
    height: 44px;
    background-color: var(--footer-socsolid-main);
    border-radius: 50%;
    fill: var(--border-client);
    justify-content: center;
    align-items: center;

    transition-property: background-color, fill;
    transition-duration: var(--time-250);
    transition-timing-function: var(--transition-bezier);
}
.socialnet__logo {
    color: currentColor;
}
.socialnet__link:hover,
.socialnet__link:focus {
    background-color: var(--primary-color-text);
    fill: var(--footer-color-text);
}    

/* --- секція 4 --- */
.client__link {
    display: flex;
    border: 1px solid var(--border-client);
    border-radius: 4px;
    height: 92px;
    min-width: 170px;
    fill: var(--border-client);
    justify-content: center;
    align-items: center;

    transition-property: border-color, fill;
    transition-duration: var(--time-250);
    transition-timing-function: var(--transition-bezier);
}
.client__logo {
    color: currentColor;
}
.client__link:hover,
.client__link:focus {
    border-color: var(--primary-color-text);
    fill: var(--primary-color-text);
}


/* ----------!!!стилі головної Портфоліо!!!---------- */

/* --- стилі Фільтра --- */
.filtr {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-bottom: 50px;
}
.filtr__button {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: var(--secondary-color-bg);
    color: var(--main-color-text);
    padding: 6px 22px;

    transition-property: color, background-color, box-shadow;
    transition-duration: var(--time-250);
    transition-timing-function: var(--transition-bezier);
}
.filtr__button:hover,
.filtr__button:focus {
    background-color: var(--primary-color-text);
    color: var(--footer-color-text);
    box-shadow: var(--shadow-filtr-button);
}

/* --- стилі Списка карточок --- */
.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
} 
.product-item {
    flex-basis: calc((100% - 60px) / 3);
}
.product-item:nth-child(3n) {
    margin-right: 0;
}
.product-box__link {
    display: block;
    position: relative;

    transition-property: box-shadow;
    transition-duration: var(--time-250);
    transition-timing-function: var(--transition-bezier);
}
.product-box__link:hover,
.product-box__link:focus {
    box-shadow: var(--shadow-portfolio-card);
}
.product-box__thumb {
    display: block;
    position: relative;
    overflow: hidden;
}
.product-box__text {
    display: block;
    position: absolute;
    background-color: var(--hover-overlay-blue);
    width: 370px;
    height: 294px;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--main-color-bg);
    padding: 63px 24px;

    transform: translateY(100%);
    transition-property: transform;
    transition-duration: var(--time-250);
    transition-timing-function: var(--transition-bezier);
}
.product-box__link:hover .product-box__text,
.product-box__link:focus .product-box__text {
    content: '';
    transform: translateY(0%);
}
.product-box__name {
    padding: 20px 24px;
    border-left: 1px solid var(--work-list);
    border-bottom: 1px solid var(--work-list);
    border-right: 1px solid var(--work-list);
}
.product-box__title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-color-text);
    margin-bottom: 4px;
}
.product-box__subtitle {
    font-style: normal;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--secondary-color-text);
}


/* ----------!!!стилі Футера!!!---------- */
.footer {
    background-color: var(--footer-color-bg);
    padding: 60px 0;
}
.footer-position {
    display: flex;
    gap: 93px;
    align-items: baseline;
}

/* --- Блок 1 ---*/
.footer-logo {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--footer-color-text);
    margin-bottom: 20px;
}
.footer-logo__color {
    color: var(--primary-color-text);
}
.footer-contacts__item:not(:last-child) {
    margin-bottom: 9px;
}
.footer-contacts__link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    transition-property: color;
    transition-duration: var(--time-250);
    transition-timing-function: var(--transition-bezier);
}
.footer-contacts__link--color1 {
    color: var(--footer-color-text);
}
.footer-contacts__link--color2 {
    color: var(--kontakty-footer)   
}
.footer-contacts__link:hover,
.footer-contacts__link:focus {
    color: var(--primary-color-text);
}

/* --- Блок 2 ---*/
.footer-title {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--footer-color-text);
    margin-bottom: 20px;
}
.footer-socialnet__list {
    display: flex;
    gap: 10px;
}
.footer-socialnet__link {
    display: flex;
    width: 44px;
    height: 44px;
    background-color: var(--footer-socsolid-main);
    fill: var(--footer-color-text);
    border-radius: 50%;
    justify-content: center;
    align-items: center;

    transition-property: background-color;
    transition-duration: var(--time-250);
    transition-timing-function: var(--transition-bezier);
}
.footer-socialnet__link:hover,
.footer-socialnet__link:focus {
    background-color: var(--primary-color-text);
}

/* --- Блок 3 ---*/
.footer-form__input {
    padding: 15px 16px;
    width: 358px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid var(--input-footer);
    background-color: var(--footer-color-bg);
    color: var(--footer-color-text);
    box-shadow: var(--shadow-main-button);
    outline: none;
    
    transition-property: border-color;
    transition-duration: var(--time-250);
    transition-timing-function: var(--transition-bezier);
}
.footer-form__input::placeholder {
    color: var(--kontakty-footer);
}
.footer-form__input:focus {
    border-color: var(--primary-color-text);
}
.footer-form__button {
    position: relative;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: left;
    letter-spacing: 0.06em;
    color: var(--footer-color-text);

    background-color: var(--primary-color-text);
    border-radius: 4px;
    padding: 10px 28px;
    cursor: pointer;
    border: transparent;
    box-shadow: var(--shadow-main-button);
    width: 200px;
    margin-left: 9px;

    transition-property: background-color;
    transition-duration: var(--time-250);
    transition-timing-function: var(--transition-bezier);
}
.footer-form__button:hover,
.footer-form__button:focus {
    background-color: var(--active-button);
}
.footer-form__logo {
    position: absolute;
    top: 50%;
    right: 28px;
    transform: translateY(-50%);
}


/* ----------!!!стилі Модального вікна!!!---------- */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: var(--backdrop-color);
    opacity: 1;
    visibility: visible;
    transition: opacity var(--time-250) var(--transition-bezier), visibility var(--time-250) var(--transition-bezier);
}
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}
.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--time-250) var(--transition-bezier);

    min-width: 528px;
    min-height: 581px;
    border-radius: 4px;
    padding: 40px;

    background-color: var(--modal-bg-color);
    box-shadow: var(--shadow-card-solid);
}
.btn-close {
    display:flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    top: 8px;
    right: 8px;
    padding: 0;
    cursor: pointer;
    border: 1px solid var(--border-btn);
    background-color: transparent;
}
.btn-img {
    display: block;
    fill: var(--logo-color-text);

    transition-property: fill;
    transition-duration: var(--time-250);
    transition-timing-function: var(--transition-bezier);
}
.btn-close:hover .btn-img,
.btn-close:focus .btn-img {
    fill: var(--primary-color-text);
}

.form-modal {
    margin-top: 12px;
    display: block;
}
.name-form {
    display: block;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color-text);
}
.form-field,
.form-field-textarea {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.form-field {
    margin-bottom: 10px;
}
.form-field-check {
    margin-top: 20px;
}
.form-field-textarea {
    margin-bottom: 20px;
}

.modal-input {
    display: block;
    width: 448px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--input-modal);
    padding: 14px 16px 14px 42px;
    outline: none;

    transition-property: border-color;
    transition-duration: var(--time-250);
    transition-timing-function: var(--transition-bezier);
}
.modal-input:focus, 
.modal-textarea:focus {
    border-color: var(--primary-color-text);
}
.logo-modal {
    position: absolute;
    top: calc(8px + 50%);
    left: 15px;
    transform: translateY(-50%);
    fill: var(--main-color-text);

    transition-property: fill;
    transition-duration: var(--time-250);
    transition-timing-function: var(--transition-bezier);
}
.modal-input:focus + .logo-modal {
    fill: var(--primary-color-text);
}
.user-modal {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
}
.modal-textarea::placeholder {
    color: var(--textarea-modal);
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
}
.modal-textarea {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    height: 120px;
    resize: none;
    border-radius: 4px;
    border: 1px solid var(--input-modal);
    padding: 12px 16px;
    outline: none;

    transition-property: border-color;
    transition-duration: var(--time-250);
    transition-timing-function: var(--transition-bezier);
}
.form-check-contrakt {
    color: var(--primary-color-text);
    text-decoration: underline 1px;
}

.hero-button-modal {
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    padding: 0;

    width: 200px;
    height: 50px;
    background-color: var(--primary-color-text);
    border-radius: 4px;
    box-shadow: var(--shadow-main-button);
    color: var(--footer-color-text);
    border-color: transparent;

    transition-property: background-color;
    transition-duration: var(--time-250);
    transition-timing-function: var(--transition-bezier);
}
.hero-button-modal:hover,
.hero-button-modal:focus {
    background-color: var(--active-button);
    cursor: pointer;
}

.user-modal-check {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-color-text);
}
.modal-input-check {
    position: absolute;
    white-space: nowrap;
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    padding: 0;
    margin: -1px;
    clip-path: inset(50%);
}
.icon-check-custom {
    display: inline-block; 
    margin-left: 12px;
    margin-right: 8px;
    background-color: var(--footer-color-text);
    border: 2px solid var(--main-color-text);
    border-radius: 2px;
    cursor: pointer;

    transition-property: background-color;
    transition-duration: var(--time-250);
    transition-timing-function: var(--transition-bezier);
}
.modal-input-check:checked + .icon-check-custom {
    display: inline-block;
    margin-left: 12px;
    margin-right: 8px;
    background-color: var(--primary-color-text);
    border-radius: 2px;
    border-color: var(--primary-color-text);
}